# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# User-specific stuff
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
example/.dart_tool/
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/.pub-cache/
example/.pub/
example/build/
